/* RESET */
* {
margin: 0;
padding: 0;
border: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Header */
header {
    color: white;
    background-color: #1d0f6e;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 70px;
}
/* MAIN */
.aviao {
    background-image: url(ImagensVScode/Avião.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 750px;
    /* Configuração do texto no centro */
    display: flex;
    justify-content: center;
    align-items: center;
}
.aviao h2 {
    color: white;
    font-size: 90px;
    width: 1200px;
    text-align: center;
    font-weight: 500;

}

.pacote img{
    width: 400px;
    height: 600px;
    
}

.pacote {
    border: 3px solid black;
    border-radius: 25px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pacote p {
    font-size: 32px;
}

.pacote span {
    font-size: 20px;
}

.titulo {
    font-size: 90px;
    color: #1d0f6e;
    text-align: center;
    font-weight: 500;
    margin: 80px 0;
}





/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d0f6e;
    color: white;
    height: 300px;
    font-size: 40px;
}