div {
    height: 300px;
    width: 300px;
    margin: 20px;
    border: 3px solid black;
}
body {
    display: flex;
     flex-wrap: wrap;
}
.caixa1 {
    background: linear-gradient(to bottom,red,blue);
}
.caixa2 {
    background: linear-gradient(to left,green,yellow,orange);
}
.caixa3 {
    background: linear-gradient(150deg, purple, pink, white);
}
.caixa4 {
    background: radial-gradient(circle, lightblue,darkblue);
}
.caixa5 {
    background: radial-gradient(at top left,pink,white);
}
.caixa6 {
    background: conic-gradient(red,orange,yellow,green,royalblue);
}
