body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bt1 {
    background-color: red;
    color: white;
    transition: 1s ease-in;
}
.bt1:hover {
    background-color: lightblue;
    color: rgb(0, 26, 255);
}
.bt2 {
    background-color: red;
    color: white;
    transition: 1s ease-in;
    margin: 10px;
}
.bt2:hover {
    background-color: rgb(230, 173, 222);
    color: rgb(132, 0, 255);
}
.bt3 {
    background-color: red;
    color: white;
    transition: 1s ease-in;
}
.bt3:hover {
    background-color: rgb(194, 230, 173);
    color: rgb(33, 109, 14);
}
.active {
    margin: 10px;
    scale: 1.0;
}
.active:active {
    transform: scale(0.9);
}
.in:focus {
    border: 2px solid blue;
    outline: none;
    box-shadow: 5px 5px 10px grey;
    margin: 10px;
}
.put:focus {
    border: 2px solid rgb(119, 0, 255);
    outline: none;
    box-shadow: 5px 5px 10px grey;
    margin: 10px;
}
.inpt:focus {
    border: 2px solid rgb(0, 119, 255);
    outline: none;
    box-shadow: 5px 5px 10px grey;
    margin: 10px;
}
.card {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(255, 172, 172);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 1.0;
    transition: 1s ease-in;

}
h1 {
    margin-left: 10px;
}
p {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.cardimg {
    width: 600px;
    height: 400px;
    border-radius: 30px;
}

.card:hover {
    background-color: rgb(255, 129, 129);
    transform: scale(1.1);
    box-shadow: 5px 5px 10px grey;
}



.imag {
    background-color: rgb(192, 255, 190);
    width: 1020px;
    height: 250px;
    display: flex;
    margin-top: 40px;
    border-radius: 30px;
    align-items: baseline;
    justify-content: center;

}
img {
    margin-top: 50px;
    margin-bottom: 30px;
    margin: 10px;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
img:hover {
    filter: grayscale(1);
}



.cinza{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    transition: 0.3s ease;
    background-color: rgb(182, 182, 182);
    margin: 20px;
}
.cinza:hover{
    background-color: lightblue;
}
.cinza:active{
    background-color: blue;
    transform: scale(0.8);
}
.cinza:focus{
    border: 3px solid rgb(98, 0, 255);
}


.forms{
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1;
    height: 420px;
    border-radius: 30px;
    background-color: rgba(238, 221, 143, 0.855);
    transition: 1s ease;
    color: rgb(0, 0, 0);

}
.confirmar{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    transition: 0.5s ease;
    margin: 20px;
}

.confirmar:hover{
    background-color: rgb(42, 157, 165);
}
.confirmar:active{
    transform: scale(0.8);
}

input:focus {
    border: 2px solid rgb(174, 0, 255);
    margin: 10px;
}